<!DOCTYPE html>
<html>
<head>
	<title>Definiciones</title>
</head>
<body>
	<h1>Defiiciones que no debo olvidar pero que tal vez olvide jaja</h1>
	<div>
		<h2>Definición de conjunto cronológico</h2>

	 <p><dfn><b>Condición de cronología</b></dfn>: decimos que un conjunto <i>M</i> cumple la <ins>condición de cronología</ins>  si no existen curvas temporales cerradas.</p>
	</div>
	
	<div><h2>Definición de caracter causal de vectores con respecto a una métrica semiriemanniana</h2>

	 <p>
	 	<dfn><b> Carácter causal </b></dfn>: Sea <i>M</i> una variedad semiriemanniana con métrica <i>g</i> de índice (mu, nu), donde nu es la <acronym title= "La máxima dimensión de un subespacio vectorial U de T_pM tal que la métrica g restringida a U es negativa definida">signatura</acronym> signatura de la métrica <i>g</i>, decimos que un vector <i>v</i>  en <i>T_pM</i> tiene carácter causal tipo
	 	<dl>
	 		<dt><b>espacio o espacial</b>,</dt>
	 		<dd>si <i>g(v,v)</i>  es mayor que cero,</dd>
	 		<dt><b>tiempo o temporal</b>,</dt>
	 		<dd>si <i>g(v,v)</i> es menor que cero,</dd>
	 		<dt><b>luz o nulo</b>,</dt>
	 		<dd>si <i>g(v,v)  es igual a cero.</i></dd>
	 	</dl>
	 </p>
	 
	</div>
	 
</body>
</html>