<html>
    <!--<head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

         <div>
            {{posts}}           
        </div> 
        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>no sé frances</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>pero si se inglés, un poco jeje</p>
        </div> 

    </body>-->
    <head>
    <title> Cosas que me parecen interesantes  </title>
</head>
<body>
    <h1> Cosas que me parecen interesantes  </h1>
    <hr>

    <div>
        <h2>Citas de <i><b> Mario Benedetti </b></i></h2>

            <h3> <i>La otra copa del brindis</i>  por <b>Mario Benedetti</b> </h3>

            <p>Al principio ella fue una serena conflagración <br />
            un rostro que no fingía ni si quiera su propia belleza <br>
            unas manos que de a poco inventaban un lenguaje <br>
            una piel memorable y convicta <br>
            una mirada limpia sin traiciones <br>
            una voz que caldeaba la risa <br>
            unos labios nupciales <br>
            un brindis <br>
            ... </p>
            <p>fragmento del poema <cite>La otra copa del brindis</cite> escrito por <blockquote>Mario Benedetti</blockquote></p>
    </div>
    
    <hr>

    <div>
    <h2>Defiiciones que no debo olvidar pero que tal vez olvide jaja</h2>
    
    <div>
        <h3>Definición de conjunto cronológico</h3>

        <p><dfn><b>Condición de cronología</b></dfn>: decimos que un conjunto <i>M</i> cumple la <ins>condición de cronología</ins>  si no existen curvas temporales cerradas.</p>
    </div>
    
    <div>
        <h3>Definición de caracter causal de vectores con respecto a una métrica semiriemanniana</h3>

        <p>
            <dfn><b> Carácter causal </b></dfn>: Sea <i>M</i> una variedad semiriemanniana con métrica <i>g</i> de índice (mu, nu), donde nu es la <acronym title= "La máxima dimensión de un subespacio vectorial U de T_pM tal que la métrica g restringida a U es negativa definida">signatura</acronym> signatura de la métrica <i>g</i>, decimos que un vector <i>v</i>  en <i>T_pM</i> tiene carácter causal tipo
            <dl>
                <dt><b>espacio o espacial</b>,</dt>
                <dd>si <i>g(v,v)</i>  es mayor que cero,</dd>
                <dt><b>tiempo o temporal</b>,</dt>
                <dd>si <i>g(v,v)</i> es menor que cero,</dd>
                <dt><b>luz o nulo</b>,</dt>
                <dd>si <i>g(v,v)  es igual a cero.</i></dd>
            </dl>
        </p>
    </div>
    
    </div>

    <hr>

     <address>
        <p author= Fernando Frias> L.M.A Fernando Adrián Frías Ochoa</p> 
        <p><a href="fer4494@gmail.com">fer4494@gmail.com</a></p>
        <p>cdmx, México</p>
     </address>

</body>
</html>