<html>
    <!--<head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

         <div>
            {{posts}}           
        </div> 
        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>no sé frances</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>pero si se inglés, un poco jeje</p>
        </div> 

    </body>-->
    <head>
    <title> Cosas que me parecen interesantes  </title>
</head>
<body>
    <h1> Cosas que me parecen interesantes  </h1>
    <hr>

    <ul>
        <li><a href="benedetti2.html"> Citas de <i><b> Mario Benedetti </b></i> </a></li>
        <li><a href="definiciones.html"> Definicios matemáticas y físicas </a></li>
    </ul>
    
    <hr>

     <address>
        <p author= Fernando Frias> L.M.A Fernando Adrián Frías Ochoa</p> 
        <p><a href="fer4494@gmail.com">fer4494@gmail.com</a></p>
        <p>cdmx, México</p>
     </address>

</body>
</html>